body, html {
  height: 100%;
  margin: 0;
}

.war1{
  color:black;
  font-weight: bold;}
#head1{
  margin:5px;
  font-family:'Beredith Personal Use';
  font-size: 2.5vw;
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
  from {color: red;}
  to {color: blue;}
}

@keyframes mymove {
  from {color: white;}
  to {color: blue;}
}


body {

  margin: 0;
  min-width: 250px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  backface-visibility: 5%;
  background-color: 
}
* {
  box-sizing: border-box;
}
.header {

  background-color:#025be1;
  padding: 30px 40px;
  color: white;
  text-align: left;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.myInput{
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75% !important;
  height: auto !important;
  padding: 10px;
  float: left;
  font-size: 16px;
}
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 20px;
  height: 30px;
  padding: 10px;
  margin-right:2px;
  float: left;
  font-size: 16px;
}
.addBtn {
  position: absolute;
  padding: 10px 10px 7px 10px;  
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn2 {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addBtn:hover {
  background-color: #bbb;
}
.addBtn2:hover {
  background-color: #bbb;
}
.delete{

  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.edit{
  margin: 0px 40px 0px 0px;
  float: left;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.delete:hover{
  background-color: #f44336;
  color: white;
}
.edit:hover{
  background-color: #f44336;
  color: white;
}
ul {
  margin: 0;
  padding: 0;
}


ul li {
  opacity: 0.8;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ul li:nth-child(odd) {
  background: #f9f9f9;
  opacity: 0.8;
}


ul li:hover {
  background: #ddd;
}


ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
#header1{ 

  padding: 0;
  background-image:url('1234.png');
  width: 100%;
  height: 100%;
  min-height: auto;
  background-position: center;
  background-size: cover;
}
#home12{
  text-align: center;

background-image: url('sky.jpg');
width: 100%;
height: 100%;
min-height: auto;
background-position: center;
background-size: cover;

}
.heading{
  

  font-size: 4rem;
  
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 30px 0px 40px 0px;
  letter-spacing: 4px;
}
.heading1{
  background-color: gray;
  background-size: auto;
  opacity:0.75;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: white;
  font-weight: 200;
  margin: 100px 0px 0px 0px;
  letter-spacing: 4px;
}
.heading2{
  background-color: gray;
  background-size: auto;
  opacity:0.75;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: white;
  font-weight: 200;
  margin: 50px 0px 0px 0px;
  letter-spacing: 4px;
}
#completed{

background-image: url('completed1.jpg');
width: 100%;
min-height: 100%;
max-height: auto;
background-position: center;
background-size: cover;
padding: 0;

}
#mytask{

background-image: url('mytask.jpg');
width: 100%;
min-height: 100%;
max-height: auto;
background-position: center;
background-size: cover;
padding: 0;

}
.completed1{
  background-color:#1b4076; 
  color: white;
  padding: 20px 40px;
  color: white;
  font-family:'Verdana', Geneva, sans-serif;
  /*opacity: 0.7;*/
}
.here{
  color: white;
}
#menu{
  margin-top: 35%;
  position:fixed;
  bottom:0;
  right:0;
  z-index: 1;
}
.text{
  margin-top: 3px;
  width: 10%;
  height: 25px;
}
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}
.editMode{
    height: 59px;

}